#Dependencies
import(ape)
import(stats)
import(dispRity)

importFrom("graphics","plot")
importFrom("MASS","mvrnorm")

##Functions
export(dads)
export(make.traits)
# export(make.modifiers)
# export(make.events)

## Traits
export(trait.process)
export(BM.process)
export(OU.process)
export(no.process)

##S3 
# S3method(plot, dads)
S3method(print, dads) #incl traits modifiers and events

