#Dependencies
import(ape)
import(stats)
import(dispRity)

importFrom("graphics","plot", "points", "lines")
importFrom("MASS","mvrnorm")
importFrom("rgl","plot3d","segments3d","spheres3d","points3d")

##Functions
export(dads)
export(print.dads)
export(plot.dads)

## Traits
export(make.traits)
export(trait.process)
export(BM.process)
export(OU.process)
export(no.process)

## Modifiers
export(make.modifiers)
export(modifiers)
export(branch.length)
export(branch.length.trait)
export(selection)
export(speciation)
export(speciation.trait)

## Events
export(make.events)
export(condition)
export(time.condition)
export(taxa.condition)
export(trait.condition)
export(modification)
export(random.extinction)
export(trait.extinction)
export(update.bd.params)
export(update.traits)
export(update.modifiers)
export(founding.event)

## Utilities
export(drop.fossil.dads)
export(parent.traits)

##S3 
S3method(plot, dads) #incl traits
S3method(print, dads) #incl traits modifiers and events

